.footer {
    background-color: $navColor;
    color: $white;
    .grid {
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        .card {
            width: calc(100% / 4 - 32px);
            padding: .2rem 1rem;
        }
        .blue {
            background-color: $blue;
        }
        .red {
            background-color: $red;
        }
        .orange {
            background-color: $orange;
        }
        .green {
            background-color: $green;
        }
    }
    .footer-content {
        text-align: center;
        padding: 1rem;
        p {
            font-size: 12px;
            color: #7d7e7e;
        }
    }
}